@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;600&family=Fraunces:wght@700;900&display=swap");

$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$graphic-design-text: hsl(167, 40%, 24%);
$photography-text: hsl(198, 62%, 26%);
$footer-text: hsl(168, 34%, 41%);

$footer-logo: hsl(168, 45%, 32%);

$very-dark-desaturated-blue: hsl(212, 27%, 19%);
$very-dark-gray-blue: hsl(213, 9%, 39%);
$dark-gray-blue: hsl(232, 10%, 55%);
$gray-blue: hsl(210, 4%, 67%);
$white: white;

$header-bg-color: hsl(200, 100%, 62%);
$card-bg-color: #fffbf8;
$berry-bg-color: #94d8cb;
$orange-bg-color: #5fcdfe;

$gallery-orange-color: #fe9900;

$font-serif: "Fraunces", serif; // 700, 900
$font-sans: "Barlow", sans-serif; // 600

$tablet: 425px;
$laptop: 768px;
$desktop: 1024px;
$large: 1440px;

$xsmall: 319px;
$max-total-width: 1700px;

$burger-breakpoint: $laptop;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.all {
  @media screen and (min-width: $max-total-width) {
    max-width: $max-total-width;
    margin: auto;
    box-shadow: 0 0 50px #0003;
  }
}

.header {
  margin: 0;
  padding: 0;
  background-color: $header-bg-color;
  background-image: url(./images/mobile/image-header.jpg);
  background-size: cover;
  background-position: bottom center;
  height: 538px;

  &Top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &Logo {
    margin: 32px 0 0 24px;
    width: 124px;
    filter: invert(100%);
    
    @media screen and (min-width: $laptop) {
      margin: 46px 0 0 40px;
      width: 170px
    }
  }

  @media screen and (min-width: $laptop) {
    height: 800px;
    background-image: url(./images/desktop/image-header.jpg);
  }
}

.burger {
  cursor: pointer;
  padding: 35px 24px;
  background-repeat: no-repeat;
  background-position: center;

  &Img {
    width: 24px;
    height: 18px;
  }

  @media screen and (min-width: $burger-breakpoint) {
    display: none;
  }
}

.menu {
  list-style-type: none;
  position: absolute;
  top: -100px;
  left: 22px;
  transition: 300ms;
  transform: scale(0);
  opacity: 0;
  background-color: $white;
  width: calc(100% - 44px);
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 33px;
  align-items: center;

  &--open {
    top: 90px;
    left: 22px;
    opacity: 100%;
    transform: scale(100%);
  }
  
  @media screen and (min-width: $burger-breakpoint) {
    position: static;
    opacity: 100%;
    transform: scale(100%);
    width: auto;
    flex-direction: row;
    background: none;
    padding: 34px 48px 0 0;
    gap: 48px;
    margin: 0;
  }
  
  &::before {
    content: "";
    margin: 0;
    padding: 0;
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url(./images/mobile/triangle-tip.svg);
    background-size: cover;
    right: 0;
    top: -24px;

    @media screen and (min-width: $burger-breakpoint) {
      display: none;
    }
  }

  &Item {
    a {
      text-decoration: none;
      font-family: $font-sans;
      font-weight: 600;
      font-size: 1.25rem;
      color: $dark-gray-blue;

      @media screen and (min-width: $burger-breakpoint) {
        font-size: 1.1rem;
        color: $white;
      }
    }

    &--highlight {
      margin: 18px 0 18px;

      a {
        font-family: $font-serif;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 0.945rem;
        padding: 18px 30px;
        background-color: $yellow;
        color: $very-dark-desaturated-blue;
        border-radius: 32px;
        @media screen and (min-width: $burger-breakpoint) {
          background-color: $white;
          transition: 200ms;

          &:hover {
            background-color: #fff4;
            color: $white;
          }
        }
      }
    }
  }
}

.heading {
  font-family: $font-serif;
  font-weight: 900;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  color: $white;
  text-align: center;
  padding: 0;
  margin-top: 52px;
  opacity: 100%;
  transition: 300ms;

  @media screen and (max-width: $xsmall) {
    font-size: 1.5rem;
  }

  @media screen and (min-width: $tablet) {
    padding: 0 24px;
  }
  
  @media screen and (min-width: $laptop) {
    padding: 0 48px;
    font-size: 3.5rem;
    letter-spacing: 0.6rem;
    margin-top: 108px;
  }

  &--hide {
    opacity: 0;

    @media screen and (min-width: $tablet) {
      opacity: 100%;
    }
  }
}

.arrow {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  opacity: 100%;
  transition: 300ms;

  @media screen and (min-width: $laptop) {
    margin-top: 93px;
  }

  &--hide {
    opacity: 0;

    @media screen and (min-width: $tablet) {
      opacity: 100%;
    }
  }
}

.cardsContainer {
  @media screen and (min-width: $laptop) {
    display: flex;
    flex-wrap: wrap;
  }
}

.image-egg, .image-glass, .card {
  @media screen and (min-width: $laptop) {
    width: 50%;
  }
}

.image-egg {
  height: 312px;
  background-color: $yellow;
  background-image: url(./images/mobile/image-transform.jpg);
  background-size: cover;
  background-position: center;
  
  @media screen and (min-width: $laptop) {
    order: 2;
    height: 600px;
    background-image: url(./images/desktop/image-transform.jpg);
  }
}

.image-glass {
  height: 312px;
  background-color: $soft-red;
  background-image: url(./images/mobile/image-stand-out.jpg);
  background-size: cover;
  background-position: center;

  @media screen and (min-width: $laptop) {
    order: 3;
    height: 600px;
    background-image: url(./images/desktop/image-stand-out.jpg);
  }
}

.card {
  padding: 66px 24px;
  background-color: $card-bg-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  @media screen and (min-width: $tablet) {
    padding: 66px 20%;
  }

  @media screen and (min-width: $laptop) {
    padding: 66px 40px;
  }

  @media screen and (min-width: $desktop) {
    padding: 24px 108px;
  }

  @media screen and (min-width: $large) {
    justify-content: center;
    padding: 20px 108px 24px 163px;
  }

  &Heading {
    margin: 0;
    font-family: $font-serif;
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    color: $very-dark-desaturated-blue;

    @media screen and (min-width: $desktop) {
      font-size: 2.5rem;
      text-align: left;
    }
  }

  &Text {
    margin: 22px 0 0;
    font-family: $font-sans;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.9rem;
    text-align: center;
    color: $dark-gray-blue;

    @media screen and (min-width: $desktop) {
      margin: 32px 0 0;
      text-align: left;
    }
  }
  &Link {
    margin: 32px 0 0;
    font-family: $font-serif;
    font-weight: 900;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    display: block;
    text-align: center;
    text-decoration: none;
    color: $very-dark-desaturated-blue;
    padding: 0 0.5rem;
    position: relative;
    z-index: 10;
    align-self: center;
    
    @media screen and (min-width: $desktop) {
      margin: 40px 0 0;
      text-align: left;
      align-self: flex-start;
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      z-index: -1;
      width: 100%;
      left: 0;
      height: 10px;
      top: 0.8125rem;
      background-color: $yellow;
      border-radius: 5px;
      opacity: 25%;
    }

    &:hover {
      &::before {
        opacity: 100%;
      }
    }

    &--red {
      &::before {
        background-color: $soft-red;
      }
    }
  }

  &--first {
    @media screen and (min-width: $laptop) {
      order: 1;
    }
  }
  &--last {
    @media screen and (min-width: $laptop) {
      order: 4;
    }
    
    @media screen and (min-width: $large) {
      justify-content: center;
      padding: 20px 163px 24px 108px;
    }
  }
}

.brawbrl {
  min-height: 600px;
  padding: 0 22px;
  color: $very-dark-desaturated-blue;
  background-color: $card-bg-color;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;

  @media screen and (min-width: $tablet) {
    padding: 0 20%;
  }

  @media screen and (min-width: $laptop) {
    width: 50%;
    padding: 0 22px;
  }

  &Heading {
    margin: 0;
    padding-top: 397px;
    font-family: $font-serif;
    font-size: 1.75rem;
    font-weight: 900;
    text-align: center;
  }

  &Text {
    margin: 26px auto 26px;
    font-family: $font-sans;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.7rem;
    text-align: center;

    @media screen and (min-width: $desktop) {
      width: 50%;
    }
  }

  &--berry {
    background-color: $berry-bg-color;
    background-image: url(./images/mobile/image-graphic-design.jpg);
    color: $graphic-design-text;

    @media screen and (min-width: $tablet) {
      background-image: url(./images/desktop/image-graphic-design.jpg);
    }
  }

  &--orange {
    background-color: $orange-bg-color;
    background-image: url(./images/mobile/image-photography.jpg);
    color: $photography-text;

    @media screen and (min-width: $tablet) {
      background-image: url(./images/desktop/image-photography.jpg);
    }
  }
}

.clients {
  background-color: $card-bg-color;
  padding: 64px 24px;
  
  @media screen and (min-width: $desktop) {
    padding: 160px 24px 157px;
  }

  &Container {
    margin: auto;

    @media screen and (min-width: $tablet) {
      width: 80%;
    }

    @media screen and (min-width: $laptop) {
      width: 50%;
    }

    @media screen and (min-width: $desktop) {
      padding: 0;
      width: 80%;
      display: flex;
      gap: 42px;
    }
  }

  &Card {
    flex: 1;
  }

  &Heading {
    margin: 0;
    font-family: $font-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1rem;
    letter-spacing: 0.27em;
    text-align: center;
    color: $gray-blue;
    
    @media screen and (min-width: $desktop) {
      font-size: 1.2rem;
      letter-spacing: 0.27em;
    }
  }

  &Img {
    margin: 64px auto 32px;
    display: block;
    width: 72px;
    height: 72px;
    border-radius: 50%;

    @media screen and (min-width: $desktop) {
      margin: 80px auto 60px;
    }
  }

  &Quote {
    margin: 0;
    font-family: $font-sans;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 2rem;
    text-align: center;
    color: $very-dark-gray-blue;

    p {
      margin: 0 0 28px;
      
      @media screen and (min-width: $desktop) {
        margin: 0 0 64px;
      }
    }
  }

  &Name {
    margin: 32px 0 0;
    font-family: $font-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 1.125rem;
    color: $very-dark-desaturated-blue;
  }

  &Job {
    display: block;
    font-family: $font-sans;
    font-size: 0.875rem;
    font-weight: 600;
    color: $gray-blue;
  }
}

.gallery {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: $laptop) {
    flex-wrap: nowrap;
  }

  &Item {
    margin: 0;
    padding: 0;
    width: 50%;
    height: 187px;
    background-position: center;
    background-size: cover;

    @media screen and (min-width: $desktop) {
      height: 447px;
    }

    &--milk {
      background-color: $header-bg-color;
      background-image: url(./images/mobile/image-gallery-milkbottles.jpg);
      
      @media screen and (min-width: $desktop) {
        background-image: url(./images/desktop/image-gallery-milkbottles.jpg);
      }
    }
    &--orange {
      background-color: $gallery-orange-color;
      background-image: url(./images/mobile/image-gallery-orange.jpg);

      @media screen and (min-width: $desktop) {
        background-image: url(./images/desktop/image-gallery-orange.jpg);
      }
    }
    &--cone {
      background-color: $header-bg-color;
      background-image: url(./images/mobile/image-gallery-cone.jpg);
      
      @media screen and (min-width: $desktop) {
        background-image: url(./images/desktop/image-gallery-cone.jpg);
      }
    }
    &--sugar {
      background-color: $soft-red;
      background-image: url(./images/mobile/image-gallery-sugar-cubes.jpg);

      @media screen and (min-width: $desktop) {
        background-image: url(./images/desktop/image-gallery-sugarcubes.jpg);
      }
    }
  }
}

.footer {
  background-color: $berry-bg-color;
  padding-bottom: 80px;

  @media screen and (min-width: $desktop) {
    padding-bottom: 68px;
  }

  &Logo {
    display: block;
    margin: 64px auto 42px;
    filter: invert(34%) sepia(50%) saturate(494%) hue-rotate(118deg)
      brightness(100%) contrast(85%);
    width: 169px;

    @media screen and (min-width: $desktop) {
      margin: 70px auto 42px;
    }
  }

  &Links {
    list-style-type: none;
    margin: 0 0 90px;
    padding: 0;
    padding: 0 16px;
    display: flex;
    gap: 56px;
    justify-content: center;

    @media screen and (max-width: $xsmall) {
      gap: 0;
      justify-content: space-around;
    }

    & > li > a {
      margin: 0;
      padding: 0;
      font-family: $font-sans;
      font-weight: 600;
      font-size: 1.125rem;
      color: $footer-text;
      text-decoration: none;

      &:hover {
        color: $white;
      }
    }
  }

  &Socials {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    & > li {
      margin: 0 14px;
      padding: 0;

      a:hover {
        filter: contrast(10000%) invert(100%)
      }
    }
  }
}

